/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2017, 3:43:58 PM
    Author     : Harindu.sul
*/

#navBar{
    background-color: rgb(241, 241, 241);
    height:5vw;
}
#google-img{
    padding-left: 0px;
}
h1{
    text-align: center;
}
#signInDiv{
  text-align: center;
  font-family: 'Open Sans', arial;
  color: #555;
}

#btn-sign-in{
    position: relative;
    float: right;
    background-color: rgb(75, 141, 248);
    color: white;
}

#middle{
    text-align: center;
    font-family: 'Open Sans', arial;
    color: #555;
    font-size: 38px;
    font-weight: 300;
    margin-top: 27px;
    margin-bottom: 50px;
}

.signUp-Box{
    background-color: rgb(241, 241, 241);
}

#google-p{
    padding-left: 160px;
}
#labels{
    margin-top: 10px;
    font-weight: bold;
}

#learn-more{
    padding-left: 57vw;
}